:root {
  --deg: linear-gradient(45deg, #ccff33, #9aff29, #68ff20);
  --insta: #d62976;
  --p1: #ccff33;
  --p2: #346b19;
  --p3: #7fff24;
  --c0: #ffffff;
  --c1: #F5F7FA;
  --c2: #E6EAF0;
  --c3: #CED3D9;
  --c4: #C0C5CC;
  --c5: #B2B8BF;
  --c6: #989EA6;
  --c7: #7E838C;
  --c8: #636973;
  --c9: #474D59;
  --c10: #363B47;
  --c11: #242833;
  --c12: #0B0C12;
  --c13: #03040a;
  --gold: #f0bc34;
}

.p1 {
  color: #ccff33;
}
.p2 {
  color: #346b19;
}
.p3 {
  color: #7fff24;
}
.c0 {
  color: #ffffff;
}
.c1 {
  color: #f7f7f7;
}
.c2 {
  color: #ededed;
}
.c3 {
  color: #dddddd;
}
.c4 {
  color: #cccccc;
}
.c5 {
  color: #b3b3b3;
}
.c6 {
  color: #9b9b9b;
}
.c7 {
  color: #666666;
}
.c8 {
  color: #585858;
}
.c9 {
  color: #404040;
}
.c10 {
  color: #2e2e2e;
}
.c11 {
  color: #121212;
}
.c12 {
  color: #000000;
}

body {
  font-family: "Fira sans", Helvetica, sans-serif;
  margin: 0;
  color: var(--cinza8);
  background-color: var(--c13);
  /* margin-bottom: 7000px; */
}


h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

.verde {
  color: var(--p3);
}

html {
  scroll-behavior: smooth; /* Aplica o efeito suave de rolagem */
}

li {
  list-style: none;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p,
a,
blockquote,
dd {
  margin: 0;
  padding: 0;
}