:root {
  --deg: linear-gradient(45deg, #ccff33, #9aff29, #68ff20);
  --p1: #ccff33;
  --p2: #346b19;
  --p3: #7fff24;
  --c0: #ffffff;
  --c1: #F5F7FA;
  --c2: #E6EAF0;
  --c3: #CED3D9;
  --c4: #C0C5CC;
  --c5: #B2B8BF;
  --c6: #989EA6;
  --c7: #7E838C;
  --c8: #636973;
  --c9: #474D59;
  --c10: #363B47;
  --c11: #242833;
  --c12: #0B0C12;
  --c13: #03040a;
  --gold: #f0bc34;
}

body {
  font-family: "Fira sans", Helvetica, sans-serif;
  margin: 0;
  color: var(--cinza8);
  background-color: var(--c13);
  /* margin-bottom: 7000px; */
}

/* svg {
  z-index: 1;
} */

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

.verde {
  color: var(--p3);
}

html {
  scroll-behavior: smooth; /* Aplica o efeito suave de rolagem */
}

li {
  list-style: none;
}