.banner_bg {
  max-width: 1000px;
}

.banner {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 20px;
  margin-right: 20px;
}

.banner_bg img {
  display: flex;
  max-width: 800px;
}

.escrita h1 {
  /* margin: 0; */
  color: var(--c11);
}

.escrita p {
  margin-top: -40;
  color: var(--c7);
}

.escrita {
  padding-left: 60px;
  max-width: 60ch;
}

.direito {
  content: "";
  display: block;
  position: relative;
  /* position: absolute; */
  width: 40px;
  height: 62px;
  top: -65px;
  left: 250px;
  z-index: 1;
}

.esquerdo {
  content: "";
  display: block;
  position: relative;
  width: 40px;
  height: 62px;
  top: 64px;
  left: -50px;
  z-index: 1;
}

.escrita h1 {
  font-size: 60px;
}

.metade {
  background-image: url(../Imagens/marcadgua.png);
  box-shadow: inset 55vw 0vw var(--c1);
  padding-bottom: 250px;
}

.alinhar{
  display: flex;
  justify-content: center;
  width: 34px;
  place-self: center;
  height: 50px;
  bottom: 120px;
  position: relative;
  background: var(--c13);
  border-radius: 20px;
  animation: moverVertical 1s ease-in-out infinite;
  border: solid var(--c1) 1px;
}

.alinhar img {
  width: 30px;
  animation: moverVertical 1.5s ease-in-out infinite;
}

@media (max-width: 1300px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr;
  }
  .banner_bg img {
    margin-top: 100px;
    max-width: 700px;
  }
  .banner {
    justify-items: center;
    margin-top: 50px;
  }
  .metade {
    box-shadow: inset 0 700px var(--c1);
  }
  .header_menu a {
    color: var(--c9);
  }
}

@media (max-width: 1200px) {
  .metade {
    box-shadow: inset 0 700px var(--c1);
  }
}

@media (max-width: 750px) {
  .banner_bg img {
    display: flex;
    max-width: 300px;
  }
  .header img {
    width: 80px;
  }
  .escrita h1 {
    font-size: 40px;
    max-width: 14ch;
  }
  .escrita {
    padding-left: 40px;
  }
  .direito {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 62px;
    top: -55px;
    left: 170px;
    z-index: 1;
  }
  .esquerdo {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 65px;
    top: 55px;
    left: -30px;
    z-index: 1;
  }
  .container h1::before {
    background: url(/Imagens/svgs/deco_esquerda_p.svg) no-repeat;
    width: 21.29px;
    height: 33px;
    top: 40px;
    left: -30px;
  }
  .banner {
    margin-right: 0px;
    margin-top: 0px;
  }
  .metade {
    background-image: url(../Imagens/marcadgua.png);
    /* background: #242833; */
    box-shadow: inset 0 480px var(--c1);
    padding-bottom: 200px;
  }
}

@media (max-width: 600px) {
  .metade {
    box-shadow: inset 0 480px var(--c1);
  }
}

@media (max-width: 447px) {
  .metade {
    box-shadow: inset 0 545px var(--c1);
  }
  .logo {
    transition: 0.5s;
  }
  .alinhar:hover,
  .logo:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .header img {

    margin-top: 20px;
  }
}
