.titulo h2 {
  font-family: "Poppins";
  font-weight: 700;
  color: var(--c2);
  font-size: 72;
}

.texto {
  font-family: "Poppins";
  font-weight: 400;
  color: var(--c6);
  font-size: 30;
}

.sobre_mim {
  margin: 40px;
  padding-top: 176px;
  gap: 100px;
  display: grid;
  grid-template-columns: auto 3fr;
}

.quebra {
  display: grid;
  gap: 60%;
  justify-content: space-between;
}

.quebra h2::before {
  content: "";
  background: var(--p3);
  height: 40px;
  width: 12px;
  margin-right: 20px;
  display: inline-block;
  border-radius: 20px;
}

@media (max-width: 1300px) {
  .sobre_mim {
    grid-template-columns: 1fr;
  }
  .quebra img{
    display: none;
  }
}

@media (max-width: 750px) {
  .sobre_mim{
    padding-top: 0px;
    gap: 20px;
  }
  .titulo h2 {
    font-size: 42px;
  }
  .texto  {
    font-size: 20;
  }
  .quebra h2::before {
    height: 25px;
    width: 6px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 20px;
  }
}
